@media only screen and (min-width: 1200px){
    .card {
        margin: auto;
       width: 95%;
       margin-top: 60px;
       height: 40%;
       box-sizing: border-box;
       font-size: 14px;
       color: #6E6E6E;
       
    }
    
    .card .content {
       padding: 20px;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: space-around;
       height: 100%;
       box-sizing: border-box;
    }
    
    .card .content .column {
       display: flex;
       flex-direction: column;    
       justify-content: space-around;
       height: 100%;
    }
  
}


@media only screen and (max-width: 1200px) and (min-width: 860px){
    .card {
       width: 100%;
       height: 100%;
       box-sizing: border-box;
       font-size: 10px;
       color: #6E6E6E;
    }
    
    .card .content {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: space-around;
       height: 100%;
       box-sizing: border-box;
    }
    
    .card .content .column {
       display: flex;
       flex-direction: column;    
       justify-content: space-around;
       height: 100%;
    }
    
    .card h1 {
        text-transform: uppercase;
        color: #999;
        font-size: 20px;
        font-weight: bold;
        margin: 0;
        padding-bottom: 10px;
        line-height: 32px;
    }
    
    .card .value {
        font-size: 38px;
        font-weight: 200;
    }
    
    .card .description {
        font-size: 20px;
        color: #999;
    }
}

@media only screen and (max-width: 859px){
    .card {
       width: 100%;
       height: 100%;
       box-sizing: border-box;
       font-size: 24px;
       color: #6E6E6E;
    }
    
    .card .content {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: space-around;
       height: 100%;
       box-sizing: border-box;
    }
    
    .card .content .column {
       display: flex;
       flex-direction: column;    
       justify-content: space-around;
       height: 100%;
    }
    
    .card h1 {
        text-transform: uppercase;
        color: #999;
        font-size: 20px;
        font-weight: bold;
        margin: 0;
        padding-bottom: 10px;
        line-height: 32px;
    }
    
    .card .value {
        font-size: 38px;
        font-weight: 200;
    }
    
    .card .description {
        font-size: 20px;
        color: #999;
    }
}

.title-description{
    font-weight: bold;
    margin-bottom: 20px;
}

.using-detail{
    text-align: center;
    /*background: #39AFDC;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40px;
    border-radius: 30px;
    /*color: white;*/
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

